<div class="location">
  <mat-button-toggle-group
    #group="matButtonToggleGroup"
    [value]="techVal"
    (change)="onTechChange(group.value)">
    <div class="tech-sign">
      <mat-button-toggle><p style="margin-left: -4px; margin-top: -3px">All</p></mat-button-toggle>
    </div>
    <div class="tech-sign"
      *ngFor="let cm of techMain">
      <mat-button-toggle
        [value]="cm.name"
      ><img src="{{ cm.path }}">
      </mat-button-toggle>
      <span> {{ cm.name }}</span>
    </div>
  </mat-button-toggle-group>
  <div class="filter-buttons">
    <mat-button-toggle class="btn-rounded-salary"
    (click)="onSalaryChoose()">
      <a>$  Salary </a> <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-button-toggle>
      <div class="salary-range-panel" tabindex="0" onblur="onSalaryChoose();"
      *ngIf="salarySlider">
        <p>Choose salary range</p>
        <div class="custom-slider">
          <ng5-slider [(value)]="value" [(highValue)]="highValue"
                      (valueChange)="onSalaryChange(value)"></ng5-slider>
        </div>
      </div>
    <mat-button-toggle class="btn-rounded-exp" [matMenuTriggerFor]="menu">
      <mat-icon>trending_up</mat-icon> <a> Exp. level </a> <mat-icon>keyboard_arrow_down</mat-icon>
    </mat-button-toggle>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onExpChange(exp.name)"
              *ngFor="let exp of expLvl">{{ exp.name }}</button>
      </mat-menu>
  </div>
</div>

