ul {
  display: flex;
  align-content: flex-end;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  background-color: white;
  top: 0;
}

li {
  background-color: #f3f6f8;
}



li a {
  display: block;
  color: #99a1ab;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

li a:hover {
  color: #039be5;
}

.mat-flat-button {
  border-radius: 20px;
  background-color: #ff4081;
}


