.offer-item{
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px #e8edf2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.offer-item:hover{
  box-shadow: 0px 2px #d0d8e0;
}

.right {
  width: 35%;
  display: flex;
  flex-direction: column;
}

a {
  margin-top: 10px;
  color: green;
  font-size: 25px;
}

.center {
  width: 50%;
}

.left {
  width: 15%;
  display: flex;
  flex-direction: row;
}

img {
  align-self: center;
  margin-left: 24px;
}

p {
  color: #99a1ab;
}

h4 {
  color: gray;
}

.border-item {
  width: 5px;
  height: 90px;
  background-color: #039be5;
  border-radius: 10px 0 0 10px;
}

@media (max-width: 650px) {
  .center {
    margin-left: 50px;
  }
}

