<div class="offer-item"
  routerLinkActive="active"
  [routerLink]="[index]">
  <div class="left">
    <div class="border-item"></div>
    <img src="{{ offer.imagePath }}"
         alt="{{ offer.companyName }}"
         style="width: 50px; height: 50px">
  </div>
  <div class="center">
    <h4>{{ offer.jobTitle }}</h4>
    <div class="address-item">
      <p><mat-icon>business</mat-icon>{{ offer.companyName }}</p>
      <p><mat-icon>place</mat-icon>{{ offer.city }}</p>
    </div>
  </div>
  <div class="right">
    <div class="date-item">
      <a>{{ offer.salary }}</a>
      <div class="date">{{ this.data }}</div>
    </div>
    <div class="tech-items">
      <div class="tech-item">
        {{ offer.technology }}
      </div>
      <div class="tech-item">
        {{ offer.skills[0][1] }}
      </div>
    </div>
  </div>
</div>
