<nav>
  <div>
    <ul class="right">
      <li class="right"><a mat-flat-button>Contact</a></li>
      <li class="right"><a mat-flat-button>About us</a></li>
      <li class="right"><a mat-flat-button>Event</a></li>
      <li class="right"><a mat-flat-button>Magazine</a></li>
      <li class="right"><button class="btn-nav btn-rounded"
                        [routerLink]="appRouterUrls.NEW_OFFER"
                        (click)="hideFilters()">Post a Job</button></li>
      <li class="right"><a mat-flat-button
                        (click)="onClick()"><mat-icon>more_vert</mat-icon></a></li>
    </ul>
  </div>
  <div>
    <ul>
      <li class="left"><header  class="active"
                                [routerLink]="appRouterUrls.DEFAULT">justjoin.it</header></li>
      <li class="left"><header
                                [routerLink]="appRouterUrls.BRANDS">justbrands.it</header></li>
      <li class="left"><p style="padding: 20px; color: #99a1ab">The biggest...</p></li>
    </ul>
  </div>
</nav>


