<ul class="menu-buttons">
  <li><a class="menu-button" [routerLink]="appRouterUrls.LOGIN">Login</a></li>
  <li><a class="menu-button" [routerLink]="appRouterUrls.SIGNUP">Sign up</a></li>
  <li><a class="menu-button" [routerLink]="appRouterUrls.DEFAULT">Główna</a></li>
  <!-- <li><a class="menu-button" [routerLink]="appRouterUrls.OFFERS">Offers</a></li> -->
  <li><a class="menu-button" [routerLink]="[appRouterUrls.DEFAULT, 'gdansk']">gdansk</a></li>
  <li><a class="menu-button" [routerLink]="[appRouterUrls.DEFAULT, 'gdansk', 'php']">gdansk/php</a></li>
  <li><a class="menu-button" [routerLink]="[appRouterUrls.DEFAULT, 'warszawa', 'testing', 'mid']">Warszawa/testing/mid</a></li>
  <li><a class="menu-button"  [routerLink]="appRouterUrls.DEFAULT">Contact</a></li>
  <li><a class="menu-button"  [routerLink]="appRouterUrls.DEFAULT">Post a Job</a></li>
</ul>
