nav {
  height: 100%;
}

ul {
  display: flex;
  align-content: flex-end;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
  overflow: hidden;
  background-color: white;
  top: 0;
}

li a {
  display: block;
  color: #99a1ab;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

li a:hover {
  color: #039be5;
}

.mat-flat-button {
  border-radius: 20px;
}

li header {
  display: flex;
  margin-top: 15px;
  justify-self: inherit;
  align-self: flex-end;
  color: #99a1ab;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #f3f6f8;
  border: hidden;
  border-radius: 10px 10px 0px 0px;
  outline: none;
}

li header:active {
  background-color: #f3f6f8;
  box-shadow: 0 -3px 6px 0;
  border: outset;
}


.btn-nav {
  background-color: #ff4081;
  width: 100%;
  height: 35px;
  border: 0;
  color: white;
}
