<ul class="menu-buttons">
  <li><a class="menu-button" [routerLink]="appRouterUrls.LOGIN">Login</a></li>
  <li><a class="menu-button" [routerLink]="appRouterUrls.SIGNUP">Sign up</a></li>
  <li><a class="menu-button" [routerLink]="appRouterUrls.DEFAULT">Główna</a></li>
  <li><a class="menu-button" [routerLink]="appRouterUrls.OFFERS">Offers</a></li>
  <li><a class="menu-button" [routerLink]="[appRouterUrls.DEFAULT, 'gdansk']">gdansk</a></li>
  <li><a class="menu-button" [routerLink]="[appRouterUrls.DEFAULT, 'gdansk', 'php']">gdansk/php</a></li>
  <li><a class="menu-button" [routerLink]="[appRouterUrls.DEFAULT, 'warszawa', 'php', 'junior']">Warszawa/php/junior</a></li>
  <li><a class="menu-button" href="#">Contact</a></li>
  <li><a class="menu-button" href="#">Post a Job</a></li>
</ul>
