
  #logotypes {
    display: flex;
    justify-content: flex-start;

    .logo {
      padding: 7px 44px;
      margin-top: 20px;
    }

    .brand-sentence {
      color: #99a1ab;
      font-size: 12px;
      margin-bottom: 15px;
      margin-left: 16px;
      padding: 33px 44px 0;
    }
  }


