header {
  height: 65px;

  display: flex;
  justify-content: space-between;

  #logotypes {
    display: flex;
    justify-content: flex-start;

    .logo{
        padding:7px 44px;
        margin-top:20px;
    }
    
  }
}
