.tech-filter {
  width: 100%;
  height: 70px;
  background-color: #f3f6f8;
}

.offer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.offers-list{
  background-color: #f3f6f8;
  width: 50%;
  height: 100%;
}

.offers-map {
  width: 50%;
  height: 100%;
}

@media (max-width: 850px) {
  .offers-map {
    display: none;
  }

  .tech-filter {
    display: none;
  }
  .offers-list{
    width: 100%;
  }
}
