.mat-button-toggle-group {
  border: 0;
  margin-left: -50px;
}

.mat-button-toggle {
  border-radius: 20px;
  margin: 0 10px 0 10px;
}

.mat-button-toggle-checked {
 background: linear-gradient(to right, #ba68c8, #9c27b0);
}

