<nav>
  <div>
    <ul>
      <mat-button-toggle-group>
        <mat-button-toggle>All</mat-button-toggle>
        <mat-button-toggle *ngFor="let cm of citiesMain">{{ cm.name }}</mat-button-toggle>
        <mat-button-toggle [matMenuTriggerFor]="menu">
          <mat-icon>arrow_drop_down</mat-icon>
        </mat-button-toggle>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
          *ngFor="let cd of citiesDrop">{{ cd.name }}</button>
        </mat-menu>
      </mat-button-toggle-group>
    </ul>
  </div>
</nav>
