.mat-button-toggle-group {
  border: 0;
  margin-left: -30px;
}

.mat-button-toggle {
  border-radius: 20px;
  margin: 0 10px 5px 10px;
  background: white;
  font-size: 16px;
  label: 0;
  overflow: hidden;
  color: #99a1ab;
}

.mat-button-toggle:hover {
  box-shadow: 1px 2px #99a1ab;
}

.mat-button-toggle-checked {
 background: linear-gradient(to right, #ba68c8, #9c27b0);
}

.day-night {
  float: right;
  margin-left: 930px;
}

.day-icon {
  position: absolute;
  margin-left: -90px;
  color: #99a1ab;
  padding: 0 5px 0 5px;
}

.night-icon {
  color: #99a1ab;
  padding: 0 5px 0 5px;
}




