<nav>
  <div>
    <ul>
      <mat-button-toggle-group
        #group="matButtonToggleGroup"
        [value]="cityVal"
        (change)="onValChange(group.value); ongetOffers()">
        <mat-button-toggle *ngFor="let cm of citiesMain"
                            [value]="cm.name"
                            >{{ cm.name }} </mat-button-toggle>
        <mat-button-toggle [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </mat-button-toggle>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  (click)="onValChange(cd.name); ongetOffers()"
                  *ngFor="let cd of citiesDrop"
                  >{{ cd.name }}</button>
        </mat-menu>
      </mat-button-toggle-group>
      <div class="day-night">
        <mat-slide-toggle color="primary"><mat-icon class="day-icon">wb_sunny</mat-icon><mat-icon class="night-icon">brightness_3</mat-icon></mat-slide-toggle>
      </div>
    </ul>
  </div>
</nav>
