<div class="row">
  <div class="centered">
    <form class="form-log">
      <div class="form-group">
        <label for="email" class="label-log">email address</label>
        <input type="email" id="email" name="email" class="input-form" placeholder="Your email..."
               [(ngModel)]="username"
               [ngStyle]="{borderColor: getEmailColor()}">
        <p class="p-log" *ngIf="emptyEmail">Email address is required</p>
      </div>
      <div class="form-group">
        <label for="password" class="label-log">password</label>
        <input type="password" id="password" name="password" class="input-form" placeholder="Your password..."
               [(ngModel)]="password"
               [ngStyle]="{borderColor: getPasswordColor()}">
        <p class="p-log" *ngIf="emptyPassword">Password is required</p>
      </div>
      <button class="btn-log btn-rounded" type="submit" (click)="onLogin()">Log In</button>
    </form>
  </div>
</div>
