<!--<mat-grid-list cols="1" rowHeight="5:1">-->
<!--  <div *ngFor="let offerEl of offers; let i = index">-->
<!--    <app-offer-item-->
<!--    [offer]="offerEl"-->
<!--    [index]="i"></app-offer-item>-->
<!--  </div>-->
<!--</mat-grid-list>-->

  <mat-grid-list cols="1" rowHeight="5:1">
    <cdk-virtual-scroll-viewport itemSize="10" class="example-viewport">
    <div class="offer-box"
      *ngFor="let offerEl of offers; let i = index">
      <app-offer-item
        [offer]="offerEl"
        [index]="i"></app-offer-item>
    </div>
    </cdk-virtual-scroll-viewport>
  </mat-grid-list>

