@mixin margin-card {
  margin: 10px 5px 10px 5px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.detail-content {
  height: 100vh;
  background-color: #f3f6f8;
}

.mat-icon {
  font-size: 20px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  margin-left: 33px;
  margin-top: 50px;
}

a {
  font-size: 20px;
}

.info {
  height: 200px;
  display: flex;
  flex-direction: row;
  background-color: green;
  color: #f3f6f8;
  font-size: 25px;
  padding: 10px 0 50px 0;
  @include margin-card;
  margin-bottom: 80px;
}

.logo-detail {
  width: 20%;
}

.main-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.skills {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 5px 40px 5px;
  padding: 10px 0 10px 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill-bar-block {
  width: 20%;
  padding: 10px 0 10px 0;
  margin: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  margin-top: 10px;
}

.description {
  @include margin-card;
  padding-bottom: 20px;
}
.description-1 {
  padding: 10px 5px 10px 15px;
}

h3 {
  margin-left: 15px;
}

li {
  padding: 5px 0 5px 0;
}

.tiles {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: absolute;
  top: 220px;
  left: 20px;
}

.tile {
  @include margin-card;
  width: 140px;
  height: 80px;
  padding: 0 15px 0 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  width: 35px;
  height: 35px;
  border-radius: 70px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile-name {
  font-size: 14px;
  color: #99a1ab;
}

.tile-icon {
  font-size: 25px;
}

.back-button {
  position: absolute;
  z-index: 20;
  margin-left: 20px;
  color: white;
  padding: 2px;
  border: hidden;
  background-color: rgba(0,0,0,0.2);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}


.apply-form {
  @include margin-card;
}

.example-viewport {
  height: 100vh;
  width: 100%;
  border: 0;
}
