/* You can add global styles to this file, and also import other style files */

@import 'styles/_overrides';
@import 'styles/_variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
}

.main-content {
  display: grid;
  height: 100%;
}

.nav-menu {
  width: 100%;
  height: 80px;
}

.sidenav {
  position: relative;
  top: -170px;
  width: 300px;
  height: 100vh;
  float: right;
  background-color: blue;
  z-index: 10;
}

.filters {
  height: 80px;
  min-width: 1500px;
  display: flex;
  align-items: center;
  background-color: #f3f6f8;
}

.content {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: #f3f6f8;
}


.label-log {
  display: block;
  font-size: 10px;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 20px;
  text-transform: uppercase;
}

.btn-log {
  background-color: #ff4081;
  border: 0;
  text-transform: uppercase;
  color: white;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-rounded {
  padding: 0 20px;
  border-radius: 20px;
}

.form-log {
  margin-top: 40px;
  margin-left: 165px;
  width: 60%;
  background-color: white;
  border-style: outset;
  border-radius: 10px;
  padding: 10px;
}

.p-log {
  color: red;
  font-size: 10px;
  margin-top: 5px;
}

.input-form {
  width: 90%;
  height: 40px;
  padding: 5px 8px;
  margin: 4px 0;
  border-radius: 10px;
  border-style: groove;
  border-color: black;
  background-color: white;
}
.input-form:focus {
  border-style: solid;
  border-width: medium;
  border-color: green;
  background-color: gainsboro;
}
.input-form:valid {
  border-color: green;
}
.input-form:invalid {
  border-color: red;
}

.centered {
  width: 900px;
  height: 80%;
  position: absolute;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left-90 {
  float: left;
  width: 90%;
}

.right10 {
  float: right;
  width: 10%;
}


