/* You can add global styles to this file, and also import other style files */

@import 'styles/_overrides';
@import 'styles/_variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.container-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.mat-button-toggle-label-content{
  line-height: 36px !important;
}

.main-content {
  display: grid;
  height: 100%;
  z-index: 1;
}

.nav-menu {
  width: 100%;
  height: 77px;
}

.sidenav {
  position: absolute;
  top: 0px;
  height: 100%;
  right: 0px;
  background-color: #f3f6f8;
  z-index: 10;
  animation-name: sidenav-width;
  animation-duration: 0.5s;
}

.filters {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f3f6f8;
}

.content {
  width: 100%;
  position: relative;
  height: 100vh;
}


.label-log {
  display: block;
  font-size: 10px;
  font-weight: 900;
  margin: 20px 0 5px 0;
  text-transform: uppercase;
}

.btn-log {
  background-color: #ff4081;
  border: 0;
  text-transform: uppercase;
  color: white;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-log:disabled {
  background-color: grey;
}

.btn-rounded {
  overflow: hidden;
  padding: 0 20px;
  border-radius: 20px;
}

.form-log {
  margin-top: 40px;
  margin-left: 165px;
  width: 60%;
  background-color: white;
  border-style: outset;
  border-radius: 10px;
  padding: 10px;
}

.p-log {
  color: red;
  font-size: 10px;
  margin-top: 5px;
}

.input-form {
  width: 90%;
  height: 40px;
  padding: 5px 8px;
  margin: 4px 0;
  border-radius: 10px;
  border-style: groove;
  border-color: black;
  background-color: white;
}
.input-form:focus {
  border-style: solid;
  border-width: medium;
  border-color: green;
  background-color: gainsboro;
}
.input-form:valid {
  border-color: green;
}
.input-form:invalid {
  border-color: red;
}

.centered {
  width: 900px;
  height: 80%;
  position: absolute;
  margin-top: -150px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.left-90 {
  float: left;
  width: 90%;
}

.right10 {
  float: right;
  width: 10%;
}

.mat-progress-bar-fill::after {
  background-color: #ff4081;
}

.agm-info-window-content {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-slide-toggle {
  line-height: 0 !important;
}

.custom-slider {
  .ng5-slider {
    .ng5-slider-selection {
      background: green !important;
    }
    .ng5-slider-pointer {
      background-color: green;
      width: 15px;
      height: 15px;
      top: -4px;
    }
    .ng5-slider-pointer:after {
      display: none;
    }
  }
}

@keyframes sidenav-width
{
  0% { width: 0px; }
  100% { width: 250px; }
}

@media (max-width: 850px) {
  .filters {
    display: none;
  }

  .nav-menu {
    display: none;
  }
}



