/* You can add global styles to this file, and also import other style files */

@import 'styles/_overrides';
@import 'styles/_variables';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "~nouislider/distribute/nouislider.css";

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: $primary-color;;
  background-color: $bg-color;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin:0;

  a {
    text-decoration:none;
  }
}

.container{
  width:900px;
  margin-left:auto;
  margin-right:auto;
}